<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>783625947725-a075vjutkm2i0rva7e176t6l21e7nal4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.783625947725-a075vjutkm2i0rva7e176t6l21e7nal4</string>
	<key>API_KEY</key>
	<string>AIzaSyClHtMJQB7m36V8_cE6LcWLsVdmCSmJG3Q</string>
	<key>GCM_SENDER_ID</key>
	<string>783625947725</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ChrisCampanelli.FlappyFace</string>
	<key>PROJECT_ID</key>
	<string>flappyface-49087</string>
	<key>STORAGE_BUCKET</key>
	<string>flappyface-49087.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:783625947725:ios:cd832cebc28aec7cadaa04</string>
</dict>
</plist>