<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>smileThreshold</key>
	<real>0.7</real>
	<key>blinkThreshold</key>
	<real>0.7</real>
	<key>browDownThreshold</key>
	<real>0.25</real>
	<key>browUpThreshold</key>
	<real>0.95</real>
	<key>cheekPuffThreshold</key>
	<real>0.2</real>
	<key>mouthPuckerThreshold</key>
	<real>0.7</real>
	<key>jawOpenThreshold</key>
	<real>0.9</real>
	<key>jawLeftThreshold</key>
	<real>0.3</real>
	<key>jawRightThreshold</key>
	<real>0.3</real>
	<key>squintThreshold</key>
	<real>0.8</real>
</dict>
</plist>
